<div>
	<div class="feature-box" style="text-align: center;">
		<div class="feature-box-col col-left">
			<img sytle="width: 200px;" src="/content/images/2016/08/aerowong.png" alt="Techie Baby - Aero">	
		</div>
		<div class="feature-box-col col-right">
			<div class="feature">Aero has been featured in:</div>
			<img sytle="width: 200px;" src="/content/images/2016/08/general-assembly.png" alt="Techie Baby - Aero">
		</div>
		<div style="clear: both;"></div>
	</div>
</div>