<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
            Proudly published with <a href="http://wisdomtrigger.com/">Wisdom Trigger</a>
        </section>
        <section class="poweredby px-themes">
            RSS <a class="subscribe-button" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a> <br>
            COPYRIGHT © 2016 Aero Wong - One Way Ticket To the Future
        </section>
    {{!-- remove it --}}
</footer>